.header {
  height: 104px;
  line-height: 24px; }
  .header .logo {
    float: left;
    margin: 20px 0 0 3.02083%;
    width: 483px; }
    .header .logo .m {
      display: none; }
  .header .nav {
    float: right;
    margin-right: 5.20833%; }
    .header .nav li {
      float: left;
      position: relative; }
      .header .nav li > a {
        display: block;
        position: relative;
        padding: 40px 22px;
        font-size: 15px; }
        .header .nav li > a:before {
          content: "";
          position: absolute;
          z-index: 9;
          bottom: 7px;
          left: 50%;
          margin-left: -3px;
          width: 6px;
          height: 6px;
          background: #fff;
          transform: rotate(45deg);
          opacity: 0;
          visibility: hidden;
          transition: 400ms; }
        .header .nav li > a.act2, .header .nav li > a.act, .header .nav li > a:hover {
          background: #306ea7;
          color: #fff; }
        .header .nav li > a.act2:before {
          bottom: -3px;
          opacity: 1;
          visibility: visible; }
  .header .pull-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 15px 0;
    background: #306ea7;
    display: none; }
    .header .pull-nav a {
      display: block;
      padding: 5px;
      text-align: center;
      line-height: 1.4;
      color: #fff; }
      .header .pull-nav a:hover {
        background: #629ED6; }

.menu-handler {
  background: #306ea7; }
  .menu-handler .burger {
    background: #fff; }
  .menu-handler.active {
    background: none; }
    .menu-handler.active .burger {
      background: #306ea7; }

.navMobile {
  border-top: 10px solid #306ea7;
  padding-top: 50px; }
  .navMobile a {
    display: block;
    padding-right: 15px;
    padding-left: 35px;
    line-height: 1.4; }
  .navMobile dd > a {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    color: #333; }
    .navMobile dd > a.act {
      background: #306ea7;
      color: #fff; }
  .navMobile .mtv {
    background: #e5e5e5;
    padding: 10px 0;
    display: none; }
    .navMobile .mtv a {
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 16px; }
