.header {
  height: 104px;
  line-height: 24px; }
  .header .logo {
    float: left;
    margin: 20px 0 0 3.02083%;
    width: 483px; }
    .header .logo .m {
      display: none; }
  .header .nav {
    float: right;
    margin-right: 5.20833%; }
    .header .nav li {
      float: left;
      position: relative; }
      .header .nav li > a {
        display: block;
        position: relative;
        padding: 40px 22px;
        font-size: 15px; }
        .header .nav li > a:before {
          content: "";
          position: absolute;
          z-index: 9;
          bottom: 7px;
          left: 50%;
          margin-left: -3px;
          width: 6px;
          height: 6px;
          background: #fff;
          transform: rotate(45deg);
          opacity: 0;
          visibility: hidden;
          transition: 400ms; }
        .header .nav li > a.act2, .header .nav li > a.act, .header .nav li > a:hover {
          background: #306ea7;
          color: #fff; }
        .header .nav li > a.act2:before {
          bottom: -3px;
          opacity: 1;
          visibility: visible; }
  .header .pull-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 15px 0;
    background: #306ea7;
    display: none; }
    .header .pull-nav a {
      display: block;
      padding: 5px;
      text-align: center;
      line-height: 1.4;
      color: #fff; }
      .header .pull-nav a:hover {
        background: #629ED6; }

.mtop {
  height: 104px; }

.menu-handler {
  background: #306ea7; }
  .menu-handler .burger {
    background: #fff; }
  .menu-handler.active {
    background: none; }
    .menu-handler.active .burger {
      background: #306ea7; }

.navMobile {
  border-top: 10px solid #306ea7;
  padding-top: 50px; }
  .navMobile a {
    display: block;
    padding-right: 15px;
    padding-left: 35px;
    line-height: 1.4; }
  .navMobile dd > a {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    color: #333; }
    .navMobile dd > a.act {
      background: #306ea7;
      color: #fff; }
  .navMobile .mtv {
    background: #e5e5e5;
    padding: 10px 0;
    display: none; }
    .navMobile .mtv a {
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 16px; }

.footer {
  background: #333;
  padding: 50px 0;
  font-size: 12px;
  line-height: 24px;
  color: #999; }
  .footer a {
    color: #999; }
    @media screen and (min-width: 1025px) {
      .footer a:not(.na):hover {
        color: #306ea7; } }
  .footer .foo-links {
    margin-bottom: 5px; }
  .footer .l {
    padding-top: 30px; }

.foo-links {
  font-size: 14px; }
  .foo-links a {
    color: #fff; }

.foo-ma {
  width: 85px; }
  .foo-ma .icon {
    margin-top: 6px;
    background: #306ea7;
    color: #fff;
    font-size: 12px;
    text-align: center; }
    .foo-ma .icon:before {
      font-size: 14px;
      margin-right: 4px; }

.pbanner {
  color: #fff; }
  .pbanner a {
    color: #fff; }
  .pbanner .txts {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5%;
    right: 5%;
    text-align: center; }
  .pbanner .ch {
    font-size: 50px;
    font-weight: bold; }
  .pbanner .en {
    margin-top: 10px;
    font-size: 24px;
    text-transform: uppercase; }

.pnav {
  height: 60px;
  border-bottom: 1px solid #f2f2f2;
  line-height: 24px; }
  @media screen and (max-width: 1024px) {
    .pnav {
      position: relative;
      overflow: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; } }
  @media screen and (max-width: 641px) {
    .pnav {
      height: 50px; } }
  @media screen and (max-width: 1024px) {
    .pnav ul {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 5%;
      white-space: nowrap;
      min-width: 100%;
      box-sizing: border-box; } }
  .pnav a {
    display: block;
    padding: 18px 0;
    color: #999; }
    @media screen and (max-width: 641px) {
      .pnav a {
        padding: 13px 0; } }
    .pnav a:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      border: 3px solid #f2f2f2;
      box-sizing: border-box;
      transition: 300ms; }
    @media screen and (min-width: 1025px) {
      .pnav a.act:before, .pnav a:hover:before {
        border-color: #306ea7; } }
  .pnav li + li {
    margin-left: 116px; }
    @media screen and (max-width: 1366px) {
      .pnav li + li {
        margin-left: 96px; } }
    @media screen and (max-width: 601px) {
      .pnav li + li {
        margin-left: 16vw; } }

.banner .slick-dots {
  bottom: 40px; }
  .banner .slick-dots li {
    border: 3px solid #fff;
    background: none;
    cursor: pointer; }
    @media screen and (min-width: 1025px) {
      .banner .slick-dots li:hover {
        background: #fff; } }
  .banner .slick-dots .slick-active {
    background: #fff; }

.banner .txts {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 0;
  bottom: 0;
  color: #fff; }
  .banner .txts .ch {
    font-size: 80px;
    font-weight: bold; }
  .banner .txts .en {
    position: relative;
    margin-top: 10px;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 24px; }
    .banner .txts .en:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -72px;
      width: 144px;
      height: 1px;
      background: #fff; }

.banner-video {
  position: absolute;
  z-index: 199;
  bottom: 30px;
  right: 50px;
  width: 168px;
  background: #fff;
  cursor: pointer;
  transition: 300ms; }
  .banner-video .pai {
    border: 2px solid #fff;
    padding-bottom: 51.19048%;
    transition: 300ms; }
    .banner-video .pai:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../images/black5.png); }
  .banner-video .sj {
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -7px;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 14px;
    color: #fff;
    transition: 300ms; }
  .banner-video .nowti {
    padding: 0 5%;
    line-height: 28px;
    text-align: center;
    font-size: 12px; }
  @media screen and (min-width: 1025px) {
    .banner-video:hover {
      background: #306ea7;
      color: #fff; }
      .banner-video:hover .pai {
        border-color: #306ea7; }
      .banner-video:hover .sj {
        color: #306ea7; } }
