.header {
  height: 104px;
  line-height: 24px; }
  .header .logo {
    float: left;
    margin: 20px 0 0 3.02083%;
    width: 483px; }
    .header .logo .m {
      display: none; }
  .header .nav {
    float: right;
    margin-right: 5.20833%; }
    .header .nav li {
      float: left;
      position: relative; }
      .header .nav li > a {
        display: block;
        position: relative;
        padding: 40px 22px;
        font-size: 15px; }
        .header .nav li > a:before {
          content: "";
          position: absolute;
          z-index: 9;
          bottom: 7px;
          left: 50%;
          margin-left: -3px;
          width: 6px;
          height: 6px;
          background: #fff;
          transform: rotate(45deg);
          opacity: 0;
          visibility: hidden;
          transition: 400ms; }
        .header .nav li > a.act2, .header .nav li > a.act, .header .nav li > a:hover {
          background: #306ea7;
          color: #fff; }
        .header .nav li > a.act2:before {
          bottom: -3px;
          opacity: 1;
          visibility: visible; }
  .header .pull-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 15px 0;
    background: #306ea7;
    display: none; }
    .header .pull-nav a {
      display: block;
      padding: 5px;
      text-align: center;
      line-height: 1.4;
      color: #fff; }
      .header .pull-nav a:hover {
        background: #629ED6; }

.mtop {
  height: 104px; }

.menu-handler {
  background: #306ea7; }
  .menu-handler .burger {
    background: #fff; }
  .menu-handler.active {
    background: none; }
    .menu-handler.active .burger {
      background: #306ea7; }

.navMobile {
  border-top: 10px solid #306ea7;
  padding-top: 50px; }
  .navMobile a {
    display: block;
    padding-right: 15px;
    padding-left: 35px;
    line-height: 1.4; }
  .navMobile dd > a {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    color: #333; }
    .navMobile dd > a.act {
      background: #306ea7;
      color: #fff; }
  .navMobile .mtv {
    background: #e5e5e5;
    padding: 10px 0;
    display: none; }
    .navMobile .mtv a {
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 16px; }

.footer {
  background: #333;
  padding: 50px 0;
  font-size: 12px;
  line-height: 24px;
  color: #999; }
  .footer a {
    color: #999; }
    @media screen and (min-width: 1025px) {
      .footer a:not(.na):hover {
        color: #306ea7; } }
  .footer .foo-links {
    margin-bottom: 5px; }
  .footer .l {
    padding-top: 30px; }

.foo-links {
  font-size: 14px; }
  .foo-links a {
    color: #fff; }

.foo-ma {
  width: 85px; }
  .foo-ma .icon {
    margin-top: 6px;
    background: #306ea7;
    color: #fff;
    font-size: 12px;
    text-align: center; }
    .foo-ma .icon:before {
      font-size: 14px;
      margin-right: 4px; }

.pbanner {
  color: #fff; }
  .pbanner a {
    color: #fff; }
  .pbanner .txts {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5%;
    right: 5%;
    text-align: center; }
  .pbanner .ch {
    font-size: 50px;
    font-weight: bold; }
  .pbanner .en {
    margin-top: 10px;
    font-size: 24px;
    text-transform: uppercase; }

.pnav {
  height: 60px;
  border-bottom: 1px solid #f2f2f2;
  line-height: 24px; }
  @media screen and (max-width: 1024px) {
    .pnav {
      position: relative;
      overflow: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; } }
  @media screen and (max-width: 641px) {
    .pnav {
      height: 50px; } }
  @media screen and (max-width: 1024px) {
    .pnav ul {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 5%;
      white-space: nowrap;
      min-width: 100%;
      box-sizing: border-box; } }
  .pnav a {
    display: block;
    padding: 18px 0;
    color: #999; }
    @media screen and (max-width: 641px) {
      .pnav a {
        padding: 13px 0; } }
    .pnav a:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      border: 3px solid #f2f2f2;
      box-sizing: border-box;
      transition: 300ms; }
    @media screen and (min-width: 1025px) {
      .pnav a.act:before, .pnav a:hover:before {
        border-color: #306ea7; } }
  .pnav li + li {
    margin-left: 116px; }
    @media screen and (max-width: 1366px) {
      .pnav li + li {
        margin-left: 96px; } }
    @media screen and (max-width: 601px) {
      .pnav li + li {
        margin-left: 16vw; } }

.banner .slick-dots {
  bottom: 40px; }
  .banner .slick-dots li {
    border: 3px solid #fff;
    background: none;
    cursor: pointer; }
    @media screen and (min-width: 1025px) {
      .banner .slick-dots li:hover {
        background: #fff; } }
  .banner .slick-dots .slick-active {
    background: #fff; }

.banner .txts {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 0;
  bottom: 0;
  color: #fff; }
  .banner .txts .ch {
    font-size: 80px;
    font-weight: bold; }
  .banner .txts .en {
    position: relative;
    margin-top: 10px;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 24px; }
    .banner .txts .en:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -72px;
      width: 144px;
      height: 1px;
      background: #fff; }

.banner-video {
  position: absolute;
  z-index: 199;
  bottom: 30px;
  right: 50px;
  width: 168px;
  background: #fff;
  cursor: pointer;
  transition: 300ms; }
  .banner-video .pai {
    border: 2px solid #fff;
    padding-bottom: 51.19048%;
    transition: 300ms; }
    .banner-video .pai:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../images/black5.png); }
  .banner-video .sj {
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -7px;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 14px;
    color: #fff;
    transition: 300ms; }
  .banner-video .nowti {
    padding: 0 5%;
    line-height: 28px;
    text-align: center;
    font-size: 12px; }
  @media screen and (min-width: 1025px) {
    .banner-video:hover {
      background: #306ea7;
      color: #fff; }
      .banner-video:hover .pai {
        border-color: #306ea7; }
      .banner-video:hover .sj {
        color: #306ea7; } }

.hot-news {
  width: 66.7%;
  float: left; }
  .hot-news .ix-ti {
    margin-bottom: 22px; }

.hot-news-list {
  background: #306ea7; }
  .hot-news-list .item > a {
    display: block;
    overflow: hidden;
    color: #fff; }
    @media screen and (min-width: 1025px) {
      .hot-news-list .item > a:hover .view-more {
        background: #fff;
        color: #306ea7; } }
  .hot-news-list .picbox {
    width: 62%;
    float: left; }
  .hot-news-list .pai {
    padding-bottom: 80.18868%; }
    .hot-news-list .pai:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../images/shadow.png) repeat-x left bottom; }
  .hot-news-list .txts {
    padding: 55px 25px 0 25px;
    overflow: hidden; }
  .hot-news-list .date {
    margin-bottom: 20px;
    font-size: 12px; }
  .hot-news-list .nowti {
    padding-bottom: 14px;
    margin-bottom: 32px;
    border-bottom: 1px solid #fff;
    font-size: 18px; }
  .hot-news-list .tx {
    margin-bottom: 50px;
    height: 96px; }
  .hot-news-list .slick-dots {
    right: auto;
    bottom: 20px;
    width: 62%; }
    .hot-news-list .slick-dots li {
      background: #fff; }
      @media screen and (min-width: 1025px) {
        .hot-news-list .slick-dots li:hover {
          background: #306ea7; } }
    .hot-news-list .slick-dots .slick-active {
      background: #306ea7; }

.btn {
  display: inline-block;
  vertical-align: bottom;
  box-sizing: border-box;
  transition: 300ms; }

.view-more {
  width: 118px;
  border: 1px solid #fff;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  font-size: 12px; }

.ix-ti {
  line-height: 1.4;
  font-size: 16px;
  color: #333; }
  .ix-ti:before {
    content: "";
    margin: 0 15px 5px 0;
    display: inline-block;
    vertical-align: bottom;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 3px solid #306ea7;
    box-sizing: border-box; }

.ix-news {
  float: right;
  width: 30.4%; }
  .ix-news .in-nav {
    margin-bottom: 40px; }

.in-nav li {
  float: left;
  cursor: pointer; }
  .in-nav li + li {
    margin-left: 40px; }
  .in-nav li.act .ix-ti {
    color: #306ea7; }
  @media screen and (min-width: 1025px) {
    .in-nav li:hover .ix-ti {
      color: #306ea7; } }

.in-list a {
  display: block;
  line-height: 36px;
  color: #333;
  overflow: hidden; }
  @media screen and (min-width: 1025px) {
    .in-list a:hover {
      color: #306ea7; } }

.in-list .date {
  float: right;
  margin-left: 20px;
  color: #999;
  font-size: 12px; }

.in-list .nowti {
  line-height: 36px; }
  .in-list .nowti:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 4px;
    height: 4px;
    background: #999; }

.in-list li {
  display: none; }

.ix1 {
  padding: 55px 0 80px 0; }

.pbg {
  background: #f2f2f2; }

.ix-link-list li {
  width: 33.33%;
  float: left; }
  .ix-link-list li + li a {
    border-bottom: 1px solid #e5e5e5; }

.ix-link-list a {
  display: block;
  background: #fff;
  border-right: 1px solid #e5e5e5; }

.ix-link-list .pai {
  padding-bottom: 54.7619%; }

.ix-link-list .txts {
  height: 132px;
  padding: 20px 30px 0 30px;
  box-sizing: border-box; }

.ix-link-list .nowti {
  margin-bottom: 13px;
  color: #306ea7;
  font-size: 18px; }

.ix-link-list .tx {
  height: 48px; }

.ix-link-list .about {
  height: 366px;
  padding: 40px 30px 0 30px;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: #c5dae5; }
  .ix-link-list .about .nowti {
    color: #fff; }
  .ix-link-list .about .tx {
    height: 72px; }

.ia-nums {
  color: #fff;
  overflow: hidden; }
  .ia-nums p {
    width: 50%;
    float: left;
    margin-top: 30px;
    line-height: 1; }
  .ia-nums span {
    display: block;
    margin-top: 5px; }
  .ia-nums i {
    margin-right: 10px;
    font-weight: bold;
    font-size: 46px; }

.ix3 {
  padding: 80px 0; }
