@charset "utf-8";
//主颜色
$mc1: #2074b2;
$mc2: #ffbb20;
$mc3: #63b1e9;
$mc4: #3190d4;
$mc5: #ffe19d;
$mc6: #cd0003;
$mc7: #b0d0e7;
//字体颜色
$fc1: #333;
$fc2: #666;
$fc3: #999;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f2f2f2; // 95
