@charset "utf-8";
@import "color";
@import "repeat";
.header{
    height: 104px; line-height: 24px;
    .logo{ float: left; margin: (104px - 64px) / 2 0 0 (58 / 1920) * 100%; width: 483px; 
        .m{ display: none; }
    }
    .nav{
        float: right; margin-right: (122 - 22) / 1920 * 100%;
        li{ float: left; position: relative;
            > a{ display: block; position: relative; padding: (104px - 24px) / 2 (44px / 2); font-size: 15px; 
                &:before{ @include ba; z-index: 9; bottom: -3px + 10px; left: 50%; margin-left: -3px; width: 6px; height: 6px; background: #fff; transform: rotate(45deg); @include hide; @include mt4; }
                &.act2, &.act, &:hover{ background: $mc1; color: #fff; }
                &.act2:before{ bottom: -3px; @include show; }
            }
        }
    }
    .pull-nav{
        @include plr; top: 100%; padding: 15px 0; background: $mc1; display: none;
        a{ display: block; padding: 5px; text-align: center; line-height: 1.4; color: #fff; 
            &:hover{ background: $mc2; }
        }
    }
}
.mtop{ height: 104px; }
.menu-handler{
    background: $mc1;
    .burger{ background: #fff; }
    &.active{
        background: none;
        .burger{ background: $mc1; }
    }
}
.navMobile{
    border-top: 10px solid $mc1; padding-top: 50px;
    a{ display: block; padding-right: 15px; padding-left: 35px; line-height: 1.4; }
    dd > a{ padding-top: 12px; padding-bottom: 12px; font-size: 18px; color: $fc1; 
        &.act{ background: $mc1; color: #fff; }
    }
    .mtv{ background: $hc2; padding: 10px 0; display: none;
        a{ padding-top: 6px; padding-bottom: 6px; font-size: 16px; }
    }
}
.footer{
    background: $fc1; padding: 50px 0; font-size: 12px; line-height: 24px; color: $fc3;
    a{ color: $fc3; 
        @media screen and (min-width:1025px) {
            &:not(.na):hover{ color: $mc1; }
        }
    }
    .foo-links{ margin-bottom: 5px; }
    .l{ padding-top: 30px; }
}
.foo-links{
    font-size: 14px;
    a{ color: #fff; }
}
.foo-ma{
    width: 85px;
    .icon{ margin-top: 6px; background: $mc1; color: #fff; font-size: 12px; text-align: center; 
        &:before{ font-size: 14px; margin-right: 4px; }
    }
}
.pbanner{
    color: #fff;
    a{ color: #fff; }
    .txts{ position: absolute; top: 0; bottom: 0; left: 5%; right: 5%; text-align: center; }
    .ch{ font-size: 50px; font-weight: bold; }
    .en{ margin-top: 10px; font-size: 24px; text-transform: uppercase; }
}
.pnav{
    height: 60px; border-bottom: 1px solid $hc3; line-height: 24px;
    @media screen and (max-width:1024px) {
        position: relative; @include sx;
    }
    @media screen and (max-width:641px) {
        height: 50px;
    }
    ul{
        @media screen and (max-width:1024px) {
            position: absolute; top: 0; left: 0; padding: 0 5%; white-space: nowrap; min-width: 100%; @include bs;
        }  
    }
    a{ display: block; padding: (60px - 24px) / 2 0; color: $fc3; 
        @media screen and (max-width:641px) {
            padding: (50px - 24px) / 2 0;
        }
        &:before{ content: ""; display: inline-block; vertical-align: middle; margin-right: 8px; @include c(12px); border: 3px solid $hc3; @include bs; @include mt3; }
        @media screen and (min-width:1025px) {
            &.act, &:hover{
                &:before{ border-color: $mc1; }
            }
        }
    }
    li + li{ margin-left: 116px; 
        @media screen and (max-width:1366px) {
            margin-left: 96px;
        }
        @media screen and (max-width:601px) {
            margin-left: 16vw;
        }
    }
}
.banner{
    .slick-dots{
        bottom: 40px;
        li{ border: 3px solid #fff; background: none; cursor: pointer; 
            @media screen and (min-width:1025px) {
                &:hover{ background: #fff; }
            }
        }
        .slick-active{ background: #fff; }
    }
    .txts{
        position: absolute; left: 5%; right: 5%; top: 0; bottom: 0; color: #fff;
        .ch{ font-size: 80px; font-weight: bold; }
        .en{ position: relative; margin-top: 10px; padding-top: 15px; text-transform: uppercase; font-size: 24px; 
            &:before{ @include ba; top: 0; left: 50%; margin-left: -(144px / 2); width: 144px; height: 1px; background: #fff; }
        }
    }
}
.banner-video{
    position: absolute; z-index: 199; bottom: 30px; right: 50px; width: 168px; background: #fff; cursor: pointer; @include mt3;
    .pai{ border: 2px solid #fff; padding-bottom: (86 / 168) * 100%; @include mt3;
        &:after{ @include ba; @include tblr; @include b5; }
    }
    .sj{ position: absolute; z-index: 9; left: 50%; top: 50%; margin: -8px 0 0 -7px; border-top-width: 8px; border-bottom-width: 8px; border-left-width: 14px; color: #fff; @include mt3; }
    .nowti{ padding: 0 5%; line-height: 28px; text-align: center; font-size: 12px; }
    @media screen and (min-width:1025px) {
        &:hover{
            background: $mc1; color: #fff;
            .pai{ border-color: $mc1; }
            .sj{ color: $mc1; }
        }
    }
}