@charset "utf-8";
@import "color";
@import "repeat";
.header{
    height: 104px; line-height: 24px;
    .logo{ float: left; margin: (104px - 64px) / 2 0 0 (58 / 1920) * 100%; width: 483px; }
    .nav{
        float: right;
        li{ float: left; position: relative;
            > a{ display: block; padding: (104px - 24px) / 2 (44px / 2); font-size: 15px; 
                &.act, &:hover{ background: $mc1; color: #fff; }
            }
        }
    }
    .pull-nav{
        @include plr; top: 100%; padding: 15px 0; background: $mc1; display: none;
        &:before{ @include ba; top: -3px; left: 50%; margin-left: -3px; width: 6px; height: 6px; background: #fff; transform: rotate(45deg);  }
        a{ display: block; padding: 5px; text-align: center; line-height: 1.4; color: #fff; }
    }
}
